<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Projesi</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        {% if username %}
            <h2>Welcome, {{ username }}!</h2>
            <a href="{{ url_for('logout') }}">Çıkış Yap</a>
        {% else %}
            <p>You are not logged in.</p>
            <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
        {% endif %}
    </div>
</body>
</html>